<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ncutil (Darwin 10.4).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ncutil (Darwin 10.5) copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ncutil (Darwin 10.5).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ncutil (MacOSX 10.4).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ncutil (MacOSX 10.5) copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ncutil (MacOSX 10.5).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3B2D5E1D0D18222D0097849E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B2D5E5A0D1824C20097849E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B4484F70CEDF29F008C2B97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DD76F960486AA7600D96B5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F46F00CB16499B760029EA6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F46F00EE16499BAB0029EA6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
