<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>English</string>
		<key>CFBundleIdentifier</key>
		<string>com.apple.xcode.dsym.ncutil</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundlePackageType</key>
		<string>dSYM</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>1.0</string>
		<key>dSYM_UUID</key>
		<dict>
			<key>ppc</key>
			<string>e7 4a 82 a0 f5 ca 5e 7f  3c f9 51 d1 30 f4 32 c6</string>
			<key>i386</key>
			<string>93 ce 43 35 5e fa ac 19  7a 4e a4 55 60 04 b3 32</string>
		</dict>
	</dict>
</plist>
